obsolete/
**/*.bz2
**/*.jsonl
**/*.xml
**/*.txt
**/__pycache__
**/*.log

# To define folder structure
!./dataset/.gitkeep
!./dataset/raw/.gitkeep
!./dataset/jsonl/.gitkeep
!./utils/checksums/.gitkeep
src/print_jsonl.py
src/test1_dict_tree.py
