obsolete/
**/*.bz2
**/*.jsonl
**/*.xml
**/__pycache__
**/logs/*
**/experiments
**/*.sh
**/checksums/*.txt
slurm_out/

# To define folder structure
!./data/.gitkeep
!./data/raw/.gitkeep
!./data/jsonl/.gitkeep
!./utils/checksums/.gitkeep
!./src/utils/*.txt
src/print_jsonl.py
src/test1_dict_tree.py
